<div class="row">
  <div class="row">
    Base Meal Price: $ <input type="text" name="price" placeholder="Price">
  </div>
  <div class="row">
    Tax Rate: % <input type="text" name="tax" placeholder="Tax Rate">
  </div>
  <div class="row">
    Tip Percentage: % <input type="text" name="tip" placeholder="Tip Percentage">
  </div>
  <div class="row">
    <button type="button" name="btn-submit" ng-click="$ctrl.haloo()">Submit</button>
    <button type="button" name="btn-cancel">Cancel</button>
  </div>
</div>

<hr>
{{$ctrl.greet}}
